{% load static %}

<header>

    <!-- ================= NAVBAR ================= -->

    <nav class="navbar">

        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'product_app:product_list' %}">
                <img src="{% static 'image/navlogo.png' %}" alt="Logo">
            </a>
        </div>

        <!-- Navigation -->
        
        <ul class="nav-links">
            <li><a href="{% url 'product_app:product_list' %}">Home</a></li>
            <li><a href="{% url 'category_app:category_list' %}">Categories</a></li>
            <li><a href="{% url 'cart:cart_list' %}">cart</a></li>
           
            <li><a href="#">Accound</a></li>
        </ul>

        <!-- Search -->
        <div class="search-box">
            <input type="text" placeholder="Search Products...">
            <button type="submit">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>

        <!-- Icons -->
        <div class="icons">
            <a href="{% url 'product_app:product_list' %}"><i class="fa-regular fa-heart"></i></a>
            <a href="{% url 'product_app:product_list' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#"><i class="fa-regular fa-user"></i></a>
        </div>

      
           <!-- Mobile Menu --> 
          <div class="menu-btn">
             <i class="fa-solid fa-bars"></i>
          </div>
       
    </nav>

    <!-- ================= CATEGORY MENU ================= -->

    <div class="category-menu">

        <a href="{%url 'product_app:product_list' %}" class="category-btn active">
            <i class="fa-solid fa-border-all"></i>
            <span>All</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-shirt"></i>
            <span>Fashion</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-couch"></i>
            <span>Home</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-spa"></i>
            <span>Beauty</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span>Electronics</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-chair"></i>
            <span>Furniture</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-football"></i>
            <span>Sports</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Grocery</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-gift"></i>
            <span>Gifts</span>
        </a>

        <a href="#" class="category-btn">
            <i class="fa-solid fa-book"></i>
            <span>Books</span>
        </a>

    </div>

</header>

<!-- Page Content -->
<main class="main-content">

    {% block content %}
    {% endblock %}

</main>