{% extends "base.html" %}
{% load static %}

{% block title %}
product
{% endblock %}

{% block content %}
 

<!-- ================= HERO BANNER ================= -->


<section class="hero">
    <div class="banner">

        <div class="banner-item active">
            <img src="{% static 'image/banner1.jpeg' %}" alt="">
        </div>

        <div class="banner-item">
            <img src="{% static 'image/banner2.jpeg' %}" alt="">
        </div>

        <div class="banner-item">
            <img src="{% static 'image/banner3.jpeg' %}" alt="">
        </div>
          <div class="banner-item">
            <img src="{% static 'image/banne.jpeg' %}" alt="">
        </div>

    </div>
</section>

<!-- ================= PRODUCTS ================= -->

<section class="products">

    <h2 class="section-title">Latest Products</h2>

    <div class="product-grid">

        <!-- Static Product 1 -->

        <div class="product-card">

            <span class="badge new">NEW</span>

            <img src="/media/bag/content.jpg" alt="Perfume">

            <div class="product-info">

                <h3>content baG</h3>

                <p class="price">₹1999</p>

                <a href="#" class="btn">Buy Now</a>
                
            </div>

        </div>

        <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/perfume/deanna-alys.jpg" alt="perfume">

            <div class="product-info">

                <h3>content PERFUME</h3>

                <p class="price">₹899</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/sunglass/giorgio-trovato.jpg" alt="Sunglasses">

            <div class="product-info">

                <h3>giorgio-trovato Sunglasses</h3>

                <p class="price">₹2999</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/sunglass/omid-armin.jpg" alt="Sperfume">

            <div class="product-info">

                <h3>omid-armin</h3>

                <p class="price">₹1899</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/jwell/atul-mohan.jpg" alt="atul-mohan">

            <div class="product-info">

                <h3>atul-mohan</h3>

                <p class="price">₹3999</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

           <div class="product-card">

            <span class="badge new">NEW</span>

            <img src="/media/bag/genesis-warner.jpg" alt="Perfume">

            <div class="product-info">

                <h3>genesis-warner</h3>

                <p class="price">₹1999</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>
  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/lip2.jpg" alt="perfume">

            <div class="product-info">

                <h3>cerna lip</h3>

                <p class="price">₹1899</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/comb.jpg" alt="comb">

            <div class="product-info">

                <h3>comb cream</h3>

                <p class="price">₹1599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/bag/creative-headline.jpg" alt="creative-headline">

            <div class="product-info">

                <h3>creative-headline</h3>

                <p class="price">₹4899</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/curology.jpg" alt="curology">

            <div class="product-info">

                <h3>curology lipStick</h3>

                <p class="price">₹1099</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/neauthy-skincare-UbgrJE3TV-Q-unsplash.jpg" alt="jceam">

            <div class="product-info">

                <h3>neauthy-skincare</h3>

                <p class="price">₹1599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/sunglass/vecteezy_trendy.jpg" alt="vecteezy">

            <div class="product-info">

                <h3>vecteezy_trendy</h3>

                <p class="price">₹4799</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/perfume/kelvin-lutan.jpg" alt="perfume">

            <div class="product-info">

                <h3>kelvin-lutan</h3>

                <p class="price">₹999</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/jwell/prahant-studio-L3KP.jpg" alt="jwell">

            <div class="product-info">

                <h3>prahan_jwell</h3>

                <p class="price">₹8999</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/neauthy-skincare.jpg" alt="cream">

            <div class="product-info">

                <h3>neauthy-skincare</h3>

                <p class="price">₹799</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


         <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/sunglass/vecteezy_trendy.jpg" alt="sunglass">

            <div class="product-info">

                <h3>vecteezy_trendy</h3>

                <p class="price">₹3599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>
  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/lip3.jpg" alt="cream">

            <div class="product-info">

                <h3>lipstick</h3>

                <p class="price">₹1599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/bag/laura-chouette.jpg" alt="laura-chouette">

            <div class="product-info">

                <h3>laura-chouette</h3>

                <p class="price">₹4599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/jwell/prahant-studio1.jpg" alt="prahant-studio1">

            <div class="product-info">

                <h3>prahant-studio1</h3>

                <p class="price">₹2599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/perfume/laura-chouette.jpg" alt="perfume">

            <div class="product-info">

                <h3>laura-chouette</h3>

                <p class="price">₹3599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/bag/tamara-bellis.jpg" alt="tamara-bellis">

            <div class="product-info">

                <h3>tamara-bellis</h3>

                <p class="price">₹3599</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/perfume/quilia-wSX.jpg" alt="perfume">

            <div class="product-info">

                <h3>quilia-wSX</h3>

                <p class="price">₹1199</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


  <!-- Static Product 2 -->

        <div class="product-card">

            <span class="badge sale">SALE</span>

            <img src="/media/cream/lip1.jpg" alt="curology">

            <div class="product-info">

                <h3> lipStick</h3>

                <p class="price">₹1899</p>

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>


        </div>


        <!-- ================= DATABASE PRODUCTS ================= -->

        {% for product in products %}
   
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'image/no-image.png' %}" alt="No Image">
            {% endif %}

            <div class="product-info">

                <h3>{{ product.name }}</h3>

                <p class="price">₹{{ product.price }}</p>

                {% if product.video %}
                <video controls>
                    <source src="{{ product.video.url }}" type="video/mp4">
                </video>
                {% endif %}

                <a href="#" class="btn">Buy Now</a>

            </div>

        </div>

        {% empty %}

        <div class="empty-products">

            <img src="{% static 'image/empty.png' %}" width="180" alt="No Products">

            <h3>No Products Available</h3>

            <p>Please add products from the Django Admin Panel.</p>

        </div>


        {% endfor %}

    </div>

</section>
{% endblock %}
   {% block js %}
   
<script>document.addEventListener("DOMContentLoaded", function () {

    const slides = document.querySelectorAll(".banner-item");
    let current = 0;

    setInterval(() => {
        slides[current].classList.remove("active");

        current = (current + 1) % slides.length;

        slides[current].classList.add("active");
    }, 3000);

});
</script>
    {% endblock %}



