/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f6f8fc;
    color:#222;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
    display:block;
}

.page-content{
    width:95%;
    max-width:1400px;
    margin:auto;
}

.section-title{
    text-align:center;
    font-size:40px;
    margin:50px 0;
    font-weight:700;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:linear-gradient(135deg,#5b21b6,#2563eb);
    color:white;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(37,99,235,.35);
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#6366f1;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#eee;
}